  /* Réglage header */

  header {
      font-size: 50px;
      text-align: center;
  }

  /* Réglage section */

  section {
      float: left;
      margin-top: 200px;
      margin-left: 30px;
      font-size: 25px;
  }

  /* Réglage body */

  body {
      font-family: Arial, Helvetica, sans-serif;
  }

  /* Réglage footer */

  footer {
      text-align: center;
      font-size: 20px;
  }

  /* Réglage lien */

  a {
      color: black;
      text-decoration: none;
  }

  a:clicked {
    color: black;
    text-decoration: none;
  }

  a:hoover {
    color: black;
    text-decoration: none;
}

  /* Animation du texte */

  :root {
    --mainColor: #00a2ffe5;
  }
  
  body {
    align-items: center;
    color: black;
    display: grid;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    height: 50vh;
    overflow: hidden;
  }
  
  p {
    grid-column: 2;
  }
  
  a {
    color: var(--mainColor);
    text-decoration: none;
  }
  
  a::before {
    content: '';
    background-image: url('pirate.gif');
    background-position: 0 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    left: 0;
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    transform: translateY(100%);
    transition: transform .3s;
  }
  
  a:hover::before {
    transform: translateY(0px);
  }
  
  @media screen and (min-width: 500px) {
    body {
      grid-template-columns: 250px 2fr .5em;
    }
    
    a::before {
      background-position: 0;
      background-size: 300px;
      height: 300px;
      transform: translateY(300px);
    }
  }
  
  @media screen and (min-width: 700px) {
    body {
      grid-template-columns: 350px 2fr 15px;
    }
    
    a::before {
      background-size: 300px;
      height: 300px;
      transform: translateY(300px);
    }
  }
  
  @media screen and (min-width: 1200px) {
    body {
      display: flex;
      justify-content: center;
    }
  }



  